<a href="https://colab.research.google.com/github/Eric1891/TTP-SUMMER-23/blob/main/Intro_to_Python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Conditonals

##The  if statement

In [7]:
night = True

In [8]:
type(night)

bool

In [ ]:
#if somthing ->then do something... if not ->then do something else.

In [9]:
if night: #==True:
  print("Its' ninght. Sleeping")
else:
    print("It's day. Being active.")

print("Out of the if statement")

Its' ninght. Sleeping

In [16]:
night = False

In [15]:
if night:
  print("Its' ninght. Sleeping")
else:
    print("It's day. Being active.")

print("Out of the if statement")

It's day. Being active.
Out of the if statement

In [17]:
a, b, c =100, 50, 20
if  a > b and b > c:
  print(f"{a} greater than {c}")

100 greater than 20

In [32]:
data = input ("do you havt the key?(yes/no)")
if data.lower( )== "yes":
  print("string the car")
else:
    print("car cann't start without the keys")

do you havt the key?(yes/no)no
car cann't start without the keys

In [33]:
data = input ("Please enter tge current hour(0-23)")
hour =int(data)
if hour <12:
  print(f"It's {hour} am")
else:
  print(f"It's {hour-12} pm")

Please enter tge current hour(0-23)45
It's 33 pm

###Nested if Statements

In [2]:
pet_Store = ['cat','dog','rabbot']
has_cat_food =True

if 'cat'in pet_Store:
  print("Alright! they have  a cat for me")

  if has_cat_food:
   print('Buying cat and cat food')

  else:
   print('Buying the cat only')

else:
  print('Ask pet store to get cat')

Alright! they have  a cat for me
Buying cat and cat food

####More on indentation!

In [4]:
if True:
   print("this is part of ythe if statement")
print("this if statement has finished")

this is part of ythe if statement
this if statement has finished

In [5]:
if  5>3:
  print("this is part of expression 1")

  if 10>5:
    print("this is a part of expression 2 ")

  print("this is also  part of expression 1")

print("this is not part of any if statement")

this is part of expression 1
this is a part of expression 2
this is also  part of expression 1
this is not part of any if statement

##The if_elif_else statement

In [6]:
age = int(input("please enter your age"))

if age <18:
  print("you are a minor")
elif age<21:
  print("you are an adult but cann't drink alcohol")
elif age<35:
  print("you are younger than 35")
else:
  print("you are  an adult")

print("if statement finished")

please enter your age44
you are  an adult
if statement finished

####Shorthand if statement

In [7]:
a, b =50, 20

In [8]:
if a>b:print("a>b")

a>b

In [12]:
print ("a>b") if a>b else print("b>a")

a>b

In [14]:
max = a if a>b else b
print(max)

50

#practice

In [22]:
import random

In [27]:
nb =random.randint(0,100)
print(f"Number {nb} is even") if nb % 2  == 0 else print(f'Number {nb} is odd')

Number 4 is even

In [17]:
numb =int(input('Please enter a number from 0-100:  '))
print(f"Number {numb} is even") if numb % 2  ==0  else print(f"number {numb}  is  odd")

Please enter a number from 0-100:  4
Number 4 is even

In [30]:
# Check if the client has purchased a hammer.
purchase= ["saw", "nails", "hammer"]
if "hammer" in purchase:
    print("The client has purchased a hammer.")
else:
    print("The client has not purchased a hammer.")

The client has purchased a hammer.

In [31]:
# Assuming the client's cart is stored in a list
cart = ["hammer", "saw", "nails", "hammer",]

# Create a set of unique items in the cart
unique_items = set(cart)

# Check if any item appears more than once in the cart
has_duplicate = any(cart.count(item) > 1 for item in unique_items)

if has_duplicate:
    print("The client has two or more of the same item in the cart.")
else:
    print("The client does not have two of the same item in the cart.")

The client has two or more of the same item in the cart.

In [ ]:
client_funds, price, client_products = 110, 50, 0
#nitializes three variables: client_funds with a value of 110, price with a value of 50, and client_products with a value of 0.
if client_funds >= price:
    client_products += client_funds // price
    client_funds %= price
    print(f"You have {client_products} product(s)")
    print(f"You have {client_funds}$ left")
    # continue purchase flow
else:
    print("You have insufficient funds")

##The pass Keyword

In [15]:
has_cat =False

if has_cat: #means if has cat ==true
  pass
else:
  print("you should get a cat")

you should get a cat

In [16]:
has_dog =False

if has_dog:
  print("aweasonme!")
else:
  pass
  print("you should get one")

you should get one

#The for Loop

In [19]:
animals = ['cat', 'dog', 'horse']
for animal in animals:
    print(f"There is a {animal}")

There is a cat
There is a dog
There is a horse

In [20]:
for letter in 'pineapple':
    print(letter.upper())

P
I
N
E
A
P
P
L
E

In [21]:
for number in range(0, 20, 2):
    print(f"{number} is an even number")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number

##break and continue

In [22]:
for number in range(0, 20, 2):
    print(f"{number} is an even number")
    if number == 10:
        print("On ho! Not 10")
        break
print("Next steps in out code")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
On ho! Not 10
Next steps in out code

In [23]:
for number in range(0, 20, 2):
    if number == 10:
        print("We are not executing 10")
        continue
    print(f"{number} is an even number")

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
We are not executing 10
12 is an even number
14 is an even number
16 is an even number
18 is an even number

##Practice

In [24]:
for i in range(0, 10):
    print("Hello for loop")

Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop
Hello for loop

In [25]:
sum = 0
for number in range(0, 101):
    if number % 10 == 0:
        continue
    sum += number
print(f"The sum is {sum}")

The sum is 4500

In [26]:
customers = {
    'Alice': 4,
    'Judy': 8,
    'Anna': 6
}
for customer in customers:
    print("{} has made {} purchases".format(customer, customers[customer]))

Alice has made 4 purchases
Judy has made 8 purchases
Anna has made 6 purchases

##Using else with for Loops

In [27]:
numbers1 = [1, 5, 9, 5, 7, 3]
numbers2 = [2, 8, 6, 2, 4, 10]

for number in numbers2:
    if number % 2 == 0:
        print("List contains at least 1 even number")
        break
else:
    print("The list does not contain any even numbers")

List contains at least 1 even number

##Nested Loops

In [28]:
for x in range(6):
    for y in range(6):
        print(f"{x} * {y} = {x * y}")

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [29]:
size = 5
for x in range(size):
    for y in range(size):
        print(f"{x},{y}\t\t", end='')
    print()

0,0		0,1		0,2		0,3		0,4
1,0		1,1		1,2		1,3		1,4
2,0		2,1		2,2		2,3		2,4
3,0		3,1		3,2		3,3		3,4
4,0		4,1		4,2		4,3		4,4

In [30]:
for x in range(size):
    for y in range(size):
        if (x + y) % 2:
            print("\U0001F600\t", end='')
        else:
            print("\U0001F60D\t", end='')
    print()

üòç	üòÄ	üòç	üòÄ	üòç
üòÄ	üòç	üòÄ	üòç	üòÄ
üòç	üòÄ	üòç	üòÄ	üòç
üòÄ	üòç	üòÄ	üòç	üòÄ
üòç	üòÄ	üòç	üòÄ	üòç

##The while Loop

In [31]:
i = 0
while i < 6:
    print(i)
    i += 1

0
1
2
3
4
5

In [32]:
puzzle_pieces = 20
pieces_placed = 0

while pieces_placed < puzzle_pieces:
    pieces_placed += 1
    print(f"Piece {pieces_placed} placed")

Piece 1 placed
Piece 2 placed
Piece 3 placed
Piece 4 placed
Piece 5 placed
Piece 6 placed
Piece 7 placed
Piece 8 placed
Piece 9 placed
Piece 10 placed
Piece 11 placed
Piece 12 placed
Piece 13 placed
Piece 14 placed
Piece 15 placed
Piece 16 placed
Piece 17 placed
Piece 18 placed
Piece 19 placed
Piece 20 placed

##Using else with while Loops

In [33]:
i = 1
while i < 10:
    i += 3
    if i % 2 == 0:
        print("Sequence contains an even number")
        break
else:
    print("Sequence does not contain an even number")

Sequence contains an even number

###A bit of Practice

In [34]:
i = 0
while i < 10:
    i += 1
    print(f"{i}. Hello while loop")

1. Hello while loop
2. Hello while loop
3. Hello while loop
4. Hello while loop
5. Hello while loop
6. Hello while loop
7. Hello while loop
8. Hello while loop
9. Hello while loop
10. Hello while loop

In [35]:
cats = ['Tigger', 'Smokey', 'Sassy', 'Patch', 'Sammy']
i = 0
while i < len(cats):
    print(f"Hello {cats[i]}")
    i += 1

Hello Tigger
Hello Smokey
Hello Sassy
Hello Patch
Hello Sammy

In [36]:
number = int(input("Please enter a number:\n"))
factorial = 1
i = 1
while i <= number:
    factorial *= i
    i += 1
print(f"{number}! = {factorial}")

Please enter a number:
8
8! = 40320

In [37]:
i = 0
while True:
    print(i)
    i += 1
    if i >= 10:
        break

0
1
2
3
4
5
6
7
8
9