<a href="https://colab.research.google.com/github/Eric1891/TTP-SUMMER-23/blob/main/Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

In [ ]:
print('Hi there')
#using print() method to print "hi there" to the user.

Hi there

##String & the print() function

In [ ]:
print ("There are two types of slashes: \\ and /")
#using print() method to print "There are two types of slashes"

There are two types of slashes: \ and /

In [ ]:
print("""
       This is a tabbed line
This is a regular line
""")
#this code snippet demonstrates the use of triple quotes to define
# multiline strings and the output will show a tabbed line followed by a regular line

       This is a tabbed line
This is a regular line

In [ ]:
print("\n\tThis is a tabbed  line\nThis is a regular line")
#using print function: \n is used to represent a new line character
#\t is used to represnt a tab character

	This is a tabbed  line
This is a regular line

In [ ]:
print("first name" + ' lase name')
#the plus operator + is used to concatenate the two strings combing them into a
#a single string.

first name lase name

##Variable

In [ ]:
dogs = 3
cats = "Mang fluffy cats"
# the line dogs = 3 assigns the value 3 to the variable dogs that means dogs hold the value 3.
#cats="mang fluffy cats" assigns the string "Mang fluffy cats" to the variable that means the
#the variable hold the string "Mang fluffy cats".

In [ ]:
dogs
#variable dogs represent a value of 3

3

In [ ]:
cats
#variable cats represent a value of Mang fluffy cats

'Mang fluffy cats'

In [ ]:
type(dogs)
#the variable dogs is assigned the value 3, which is integer, so the type() function is class int.

int

In [ ]:
type(cats)
#the variable cats is assigned the value Mang fluffy cats, which is string, so the type() function is class str.

str

In [ ]:
hi = "Hello "
name = " John"
print(hi + name)
#using print() function to concatenate the values of the hi and name variables.
#the + operator is used to combin the strings.

Hello  John

In [ ]:
more_dogs= 5
print(dogs + more_dogs)
#there are two variables dogs and more_dogs. the print (dogs + more_dogs) + operator is used to
#to perform addition between the two varibales.

8

In [ ]:
price = 19.99
amount = 3
##there are two variables  price and  amount.
#the variable price is assigned the value 19.99
#the variable item is assigned the value 3

In [ ]:
print(price * amount)
#to print function (price * amount), the values of these variable have to multiploication betwenn price and amount.

59.97

# Vaiable re-assignment

In [ ]:

dogs = "New Value"
#assign the string new value to the variable dogs and then print the variable dogs

print(dogs)

New Value

In [ ]:
cat, dogs, rabbits= 2, 5, "cute"

print(dogs)
#assigning values to multiple variables

5

##More Strings

### Indexing

In [ ]:
greeting = "Hello World!"
#the variable greeting hold string hello world

In [ ]:
greeting
#print the variable

'Hello World!'

In [ ]:
print(greeting[4])
#strings are zero-indexed, the first character of a string is at index0,so at index 4
#of the string is  the letter o.

o

# The 3rd, the 5th, and/or the 19th

In [ ]:
Today  = "Today is Monday!"

In [ ]:
Today

'Today is Monday!'

In [ ]:
print(Today[6])
print(Today[4])

i
y

In [ ]:
print(Today[3])

a

#String Formatting

In [ ]:
price = 59.99
#the variable is price holds the value 59.99

In [ ]:
message = " The products costs " + str(price) +  " dollars"
#create a new variable message and the str(price) part converts the values of the price.

In [ ]:
message

' The products costs 59.99 dollars'

In [ ]:
msg = " The priducts cost {} dollars". format(price)
#the variable msg using format() method to instrtt the value of the price variable into the string.
#the curly braces{} as placeholds within the string. the format(price) part formats the string by
#replacing the curly braces with the value of the price variable.

In [ ]:
msg

' The priducts cost 59.99 dollars'

In [ ]:
amount = 3
total = amount * price
#variable amount holds  value 3
#var total holds amount * price

In [ ]:
msg2= 'For {} products at the price OF {}, the total will be: {}'
#the new var msg2 holds the 'For {} products at the price OF {}, the total will be: {}'
#format() method string formatting

In [ ]:
print(msg2.format(amount,price,total))
#print(msg2.format(amount, price, total)) uses the format() method to insert the values of amount, price, and total into the placeholders in the msg2 string

For 3 products at the price OF 59.99, the total will be: 179.97

In [ ]:
msg3 ='For {2} products at the price OF {0}, the total will be: {1}'
#defined a string variable msg3 with placeholds indicated by curly braces
#using format() method,The first placeholder {0} is replaced with price, the second {1} with total, and the third {2} with amount

In [ ]:
print(msg3.format(amount,price,total))
#For {2} products at the price of {0}, the total will be: {1}', the positional indexes within the placeholders are {2}, {0}, and {1}.
#The values are inserted into the placeholders based on their positional indexes. The first placeholder {2} is replaced with the value of
#amount (which is 2), the second placeholder {0} is replaced with the value of price (which is 59.99), and the third placeholder {1} is replaced with the value of total

For 179.97 products at the price OF 3, the total will be: 59.99

####The 'f-String Method!

In [ ]:
price = 19.99
items = 3
#set variable price hold value 19.99, variable items hold 3

In [ ]:
msg = f' This individual product is {price}'
#creates a formatted string using f-string formatting. It incorporates the value of the price variable into the string.

In [ ]:
msg
#print the value of the msg variable

' This individual product is 19.99'

In [ ]:
mag2 = f'The total for your purchasw is {price * items}'
#creates a formatted string using f-string formatting. It calculates the total cost by multiplying the values of price and items and incorporates the result into the string.

In [ ]:
mag2
# print the value of mag2

'The total for your purchasw is 59.97'

### String Function

In [ ]:
#str(),print(),len(),
dir(msg)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
msg

' This individual product is 19.99'

In [ ]:
msg = 'Hello my name is Bob'

In [ ]:
words = msg.split(' ')

In [ ]:
print(words)

['Hello', 'my', 'name', 'is', 'Bob']

In [ ]:
elements = msg.split('e')

In [ ]:
print(elements)

['H', 'llo my nam', ' is Bob']

In [ ]:
print(msg.upper())

HELLO MY NAME IS BOB

In [ ]:
print(msg.lower())

hello my name is bob

 ## input() method

In [ ]:
data = input('What is your  name: ')
print (f'Hello {data}, hope your day is great!')

What is your  name: Jen
Hello Jen, hope your day is great!

In [ ]:
print(data)

Bob

In [ ]:
num = input('enter a number: ')
print(num)

enter a number: 2
2

In [ ]:
type(num)

str

In [ ]:
num = int(input('enter a number: '))
print(num)

enter a number: 2
2

In [ ]:
type(num)

int

In [ ]:
fullname = input('First name: ') + input('Last name:  ')
print(fullname)
age=int(input('Enter you age: '))
address=input('Enter address: ')
print (f'Hello {fullname},your age {age},you live in {address}')

First name: LI
Last name:  LI
LILI
Enter you age: 23
Enter address: EE
Hello LILI,your age 23,you live in EE

In [ ]:
print (f'Hello {fullname},your age {age},you live in {address}')

Hello lili,your age 23,you live in Mantattan

##Numbers

In [ ]:
cats =7
money= -35.5
x=2+5j
message="hello Alice!"

In [ ]:

print(type(cats))
print(type(money))
print(type(x))
print(type(message))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [ ]:
shoes = 5
print(f"I own {shoes} pairs of shoes")
print(type(shoes))

In [ ]:
rate = 3/2
print(f"I can complete {rate} projects per month")
print(type(rate))

In [ ]:
a = 6
b = 2.5
print(f"{a} * {b} = {a * b}")
print(type(a * b))

###Conversions

In [ ]:
value=3.8
convert =int(value)
print(convert)
print(type(convert))

3
<class 'int'>

In [ ]:
number= int("25")
print(number)
print(type(number))

25
<class 'int'>

In [1]:
num2 = 'twenty'
print(len(num2))

6

In [2]:
value = 78
convert = float(value)
print(convert)
print(type(convert))
convert = float("56.48")
print(convert)
print(type(convert))

78.0
<class 'float'>
56.48
<class 'float'>

In [3]:
value = 38
convert = complex(value)
print(convert)
print(type(convert))

(38+0j)
<class 'complex'>

In [4]:
value = 28.4875
convert = str(value)
print(convert)
print(type(convert))

28.4875
<class 'str'>

In [ ]:
# value = '5j'
# convert = int(value)
# print(convert)

In [5]:
data = input("Please enter a value: ")
print(int(data))
print(float(data))
print(complex(data))
print(str(data))

Please enter a value: 42
42
42.0
(42+0j)
42

In [6]:
pi = 3.14159
print(type(pi))
print(int(pi))
print(complex(pi))
print(str(pi))

<class 'float'>
3
(3.14159+0j)
3.14159

###Operation

#### The Modulus  operator

In [ ]:
print(259 / 4)

64.75

In [ ]:
print(259 % 4)

3

####The Power Operator

In [ ]:
print(9 ** 4)

6561

In [ ]:
2**2

4

####The floor Operator

In [ ]:
print (9 // 4)

2

#### The Assignment Operator

In [ ]:
x =  9
print(x)
x  +=4
print(x)
x  -=4
print(x)
x  *=4
print(x)
x  /=4
print(x)

9
13
9
36
9.0

In [ ]:
num1=int(input('enter a numer'))
num2=int(input('enter a numer'))
Multiplication=(num1*num2)
Division=(num1/num2)
Addition=(num1+num2)
Diff=(num1-num2)


print(f'Multiplication: {Multiplication}')
print(f'Division: {Division}')
print(f' Addition: {Addition} ')
print(f'Diff: {Diff} ')

enter a numer8
enter a numer7
Multiplication: 56
Division: 1.1428571428571428
 Addition: 15
Diff: 1